<div data-id="{{movie.id}}">

  <h5>
    {{movie.title}}
  </h5>
  <form class="destroy" data-id="{{movie.id}}">
    <fieldset>
      <input type="submit" name="submit" value="Remove From Favorites">
    </fieldset>
  </form>
  <form class="update" id="{{movie.id}}" data-id="{{movie.id}}">
    <fieldset>
      <input type="text" name="movie[title]" placeholder="Change Favorite">
      <input type="submit" name="submit" value="Update Movie">
    </fieldset>
  </form>

</div>
