{{#each movies as |movie|}}

  <div data-id="{{movie.id}}">
    <!--This also could be the key: getting movie.id in such a position that it can be
    passed through to api.destroy-->
    <div class="display-info">

      <h5>
        {{movie.title}}
      </h5>
      <div class="omdb-output"></div>
      <form class ="omdb" data-id="{{movie.title}}">
        <fieldset>
          <input type="submit" name="submit" value="Get Info">
        </fieldset>
      </div>
      <form class="destroy" data-id="{{movie.id}}">
        <fieldset>
          <input type="submit" name="submit" value="Remove From Favorites">
        </fieldset>
      </form>
      <form class="update" id="{{movie.id}}" data-id="{{movie.id}}">
        <fieldset>
          <input type="text" name="movie[title]" placeholder="Change Favorite">
          <input type="submit" name="submit" value="Update Movie">
        </fieldset>
      </form>
    </div>

</div>

{{/each}}
