
<div data-id="{{movie.title}}">

  <img src="{{movie.Poster}}">
  <h5>{{movie.Title}}</h5>
  <h5>Released on {{movie.Released}}</h5>
  <h5>Directed by {{movie.Director}}</h5>
  <h5>Starring {{movie.Actors}}</h5>
  <h5>{{movie.Plot}}</h5>
  <h5>Critical acclaim: {{movie.Awards}}</h5>
  <h5>Scored a {{movie.Metascore}} on Metacritic and a {{movie.imdbRating}} on IMDB</h5>

</div>
